@model StudentRecords.Models.Results

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Results</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UnitCode" class="control-label"></label>
                <input asp-for="UnitCode" class="form-control" />
                <span asp-validation-for="UnitCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Semester" class="control-label"></label>
                <input asp-for="Semester" class="form-control" />
                <span asp-validation-for="Semester" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ass1Score" class="control-label"></label>
                <input asp-for="Ass1Score" class="form-control" />
                <span asp-validation-for="Ass1Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ass2Score" class="control-label"></label>
                <input asp-for="Ass2Score" class="form-control" />
                <span asp-validation-for="Ass2Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExamScore" class="control-label"></label>
                <input asp-for="ExamScore" class="form-control" />
                <span asp-validation-for="ExamScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
